@import url('./src/styles/normalize.css');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, .1), .3em .3em 1em rgba(0, 0, 0, .3);
  border-radius: 1rem;
  flex-direction: column;
  background-color: #293447;
}

.game-details {
  color: #b8c6dc;
  display: flex;
  padding: 20px 27px;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: space-between;
}

.play-board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
  background-color: #212837;
}

.play-board .food {
  border: 2px solid white;
  box-shadow: inset 0 0 5px #f00, 0 0 10px #f00;
}

.play-board .head {
  border: 2px solid white;
  box-shadow: inset 0 0 5px #61c9fc, 0 0 10px #61c9fc;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.controls i {
  width: calc(100% / 4);
  color: #b8c6dc;
  cursor: pointer;
  padding: 25px 0;
  font-size: 1.3rem;
  text-align: center;
  border-right: 1px solid #171b26;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 125vmin;
  }

  .game-details {
    padding: 15px 27px;
    font-size: 1rem;
  }

  .controls {
    display: flex;
  }

  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}